* {
    box-sizing: border-box;
    margin: 0
}

body {
    font-family: 'Epilogue', sans-serif;
    /* sticky footer recipe */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    /* sticky footer recipe cont'd */
    flex: 1 0 auto;
}

#art-table {
    display: hidden;
}

#input-junk {
    justify-content: space-evenly;
    margin: 10rem;
}

#navigation {
    font-size: x-large;
    font-weight: 400;
}